body {
    background-color: #FFF;
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt;
	text-indent: 1em;
    }

td {
    padding: 10px;
	width: 50%;
	border: 1px solid;
}

table {
    border-collapse: collapse
}

rt {
	font-size: 65%;
}
