body {
    background-color: #FFF;
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt;
	text-indent: 1em;
    }
.calibre1 {
    display: block;
    text-align: center
    }
.calibre2 {
    height: auto;
    width: auto
    }
.calibre3 {
    color: gray;
    display: block;
    height: 2px;
    border: currentColor inset 1px;
    margin: 0.5em auto
    }
.calibre4 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin: 1em 0
    }
.calibre5 {
    display: block;
    line-height: 1.2
    }
.calibre6 {
    color: #F00;
    line-height: 1.2
    }
.calibre7 {
    display: block;
    }
.calibre8 {
    color: #000
    }
.calibre9 {
    font-weight: bold
    }
.calibre10 {
    display: block;
    margin: 1em 0
    }
.calibre11 {
    display: block;
    margin-left: 40px
    }
.calibre12 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.calibre13 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre14 {
    display: block;
    font-family: monospace;
    white-space: pre-wrap;
    margin: 1em 0
    }
td {
    padding: 10px;
    /* vertical-align: top; */
	width: 50%;
}
